{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %} {{ _('Report Writer') }} | {{ title }} | {% endblock %}

{% block branding %}
{#    <a id="site-name" href="{% url 'admin:index' %}" class="logo">{{ site_header|default:_('Django administration') }}</a>#}
    <a id="site-name" href="{% url 'admin:index' %}" class="navbar-brand">Report<b>Writer</b></a>
{% endblock %}

{% block extrahead %}
    {% include 'autocomplete_light/static.html' %}
    <link href="{% static 'report_writter.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block bodyclass %} report_writer {% endblock %}


{#{% block nav-global %}{% endblock %}#}

